# Default ignored files
/../../BasicPrep./.idea/shelf/
/../../BasicPrep./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../BasicPrep./.idea/httpRequests/
# Datasource local storage ignored files
/../../BasicPrep./.idea/dataSources/
/../../BasicPrep./.idea/dataSources.local.xml
